<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <p><strong>Product ID:</strong> {{ product.id }}</p>
    <p><strong>Product image:</strong> <img src="{{ product.image_url }}" alt="Product Image"></p>
    <p><strong>Product Name:</strong> {{ product.product_name }}</p>
    <p><strong>Product Actual Price:</strong> {{ product.actual_price }}</p>
    <p><strong>Product Discounted Price:</strong> {{ product.discounted_price }}</p>
    <p><strong>Product Discount Percentage:</strong> {{ product.discount_percentage }}</p>
    <!-- Add other product details as needed -->
</body>
</html>
