<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Radio Buttons</title>
</head>
<body>
    <form id="myForm" action="/display" method="post">
        <label>
            <input type="radio" name="option" onclick="submitForm('1')">
            <img src="../static/images/Beauty-1.png" alt="Radio Button Image 1">
        </label>

        <label>
            <input type="radio" name="option" onclick="submitForm('2')">
            <img src="../static/images/Beauty-2.png" alt="Radio Button Image 2">
        </label>

        <label>
            <input type="radio" name="option" onclick="submitForm('3')">
            <img src="../static/images/Beauty-3.png" alt="Radio Button Image 3">
        </label>

        <input type="submit" style="display: none;">
    </form>

    <script>
        function submitForm(value) {
            // Set the value of the hidden input field before submitting the form
            document.getElementById("myForm").action = `/display`;
            document.getElementById("myForm").submit();
        }
    </script>
</body>
</html>
