<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Radio Buttons</title>
</head>
<body>
    <form id="myForm" action="/display" method="post">
        <label>
            <input type="radio" name="option" value="1" style="display: none;">
            <img src="../static/images/Beauty-1.png" alt="Radio Button Image 1">
        </label>

        <label>
            <input type="radio" name="option" value="2" style="display: none;">
            <img src="../static/images/Beauty-2.png" alt="Radio Button Image 2">
        </label>

        <label>
            <input type="radio" name="option" value="3" style="display: none;">
            <img src="../static/images/Beauty-3.png" alt="Radio Button Image 3">
        </label>

        <input type="submit" style="display: none;">
    </form>

    <script>
        document.querySelectorAll('input[type=radio]').forEach((radio) => {
            radio.addEventListener('change', function() {
                document.getElementById("myForm").action = `/display/${this.value}`;
                document.getElementById("myForm").submit();
            });
        });
    </script>
</body>
</html>
