<html>
<form action="{{url_for('abc')}}" method="POST">
<!-- <label>Product Id:</label>
<input type="text" name="id" value='1'>
<button type="submit">Submit</button>
-->
<input type="text" name="id" value='2' style="display: none;">
<a href="productpage2.html">
<button type="submit"><img class="product-img-s" src="../static/images/Beauty-1.png"></button>
</a>
<a href="productpage2.html"><button type="submit">FIAMA Celebration Pack of 5 Unique Gel Bars  (4 x 125 g)</button></a>
</form>
</html>